/* index.module.css */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .dropdownContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  